html {
    font-family: 'Poppins';
    color: #333;
    font-size: 16px;
    background-color: white;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 20px;
    height: 100px;
}

.main-nav {
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
}

.main-nav li a:hover {
    color: orange;
    text-decoration: underline;
}

.hero {
    position: absolute;
    top: 40%;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 15px;
}

.btn {
    border: solid 1px orange;
    margin-right: 15px;
    padding: 8px 20px;
    border-radius: 10px;
    color: orange;
    text-decoration: none;
}

.btn:hover {
    color: white;
    background-color: orange;
}

section {
    padding: 40px 0px;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 2px;
    margin-bottom: 15px;
}

hr {
    width: 100px;
    border: solid 3px orange;
    background-color: orange;
}

.features-desc {
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.features {
    text-align: center;
}

.features i {
    color: orange;
    font-size: 50px;
}

.meal {
    padding: 0px;
    margin-bottom: 5px;
    background-color: black;
    overflow: hidden;
}

.meal img {
    width: 100%;
    opacity: .6;
    transition: 1s;
    transform: scale(1.1);
}

.meal img:hover {
    opacity: 1;
    transform: scale(1);
}

.work:first-child {
    text-align: right;
    padding-right: 5%;
}

.work:first-child img {
    width: 40%;
}

.work:last-child {
    text-align: left;
    padding-left: 5%;
    padding-top: 50px;
}

.step {
    display: flex;
}

.step h4 {
    font-size: 1.2rem;
    border: solid 2px orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.btn-img {
    margin-top: 30px;
}

.work:last-child img {
    height: 50px;
}

.city-info {
    margin-bottom: 10px;
}


/* .city-info i {
    color: orange;
    margin-right: 10px;
} */

.orange {
    color: orange;
    margin-right: 10px;
}

.border {
    border: 1px solid black;
}

.w-100 {
    width: 250px;
}

.h-500 {
    height: 500px;
}

.margin {
    margin: 40px;
}

.h-50-percent {
    height: 35%;
}

.b-bt {
    border-bottom: 1px solid grey;
}

.h-500 {
    height: 400px;
}

.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/back-customers.jpg);
    background-position: center;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}

.testimonials i {
    font-size: 50px;
}

.testimonials p {
    line-height: 1..5;
}

.testimonials img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.signup {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border-style: none;
    background-color: orange;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}

.signup2 {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid orange;
    background-color: white;
    color: orange;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}

.bg-grey {
    background-color: #EFEFEF;
}

.bg-white {
    background-color: white;
}

li {
    list-style: none;
}

form {
    padding-top: 60px;
}

label {
    margin-bottom: 7px;
}

input[ type=text],
input[ type=emial],
select,
textarea {
    margin-bottom: 7px;
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=checkbox] {
    margin-bottom: 10px;
    margin-left: 50px;
}

button {
    padding: 10px 30px;
    background-color: orange;
    color: white;
    font-size: 1.2rem;
    font-weight: 500px;
    border-radius: 10px;
    border: solid orangered 1px;
}

button:hover {
    background-color: white;
    color: orange;
}

@media screen and (max-width:500px) {
    .work:first-child {
        text-align: center;
        padding-right: 1%;
    }
}
.margin-30px{
    margin: 30px;
}
.margin-20px{
    margin-right: 20px;
}
.padding-10px{
    padding: 10px;
}
.padding-20px{
    padding: 20px;
}
.signup:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}
.signup2:hover{
    background-color: orange;
    color: white;
}
.margin-top-10px{
    margin-top: 10px;
}
.h-40-px{
    height: 40px;
}
.padding-50px{
    padding: 50px;
}
.margin-left-10px{
    margin-left: 10px;
}
.border-grey{
    border: 1px solid grey;
}
.border-radius-25px{
    border-radius: 25px;
}
.txt-grey{
    color:grey;
}
.link-decoration-none{
    text-decoration: none;
}
.link-decoration-none:hover{
    color: white;
    text-decoration: none;
}
.h-150px{
    height: 150px;
}
.bg-black{
    background-color: black;
}
.text-align-center{
    text-align: center;
}
.margin-top-30px{
    margin-top: 30px;
}
